.relative {
  position: relative;
}



.before-mobile {
  content: "";
  position: absolute;
  border-radius: 550px;
  width: 1100px;
  height: 600px;
  z-index: -1;
  transform: rotate(-30deg);
}
.before-mobile {
  background-color: #581c87;
  right: -100px;
  bottom: -30px;
}

.after-mobile {
  content: "";
  position: absolute;
  border-radius: 550px;
  width: 160%;
  height: 120%;
  z-index: -1;
  transform: rotate(55deg);
  background-color: #FBBF24;
  left: 20%;
  bottom: 2%;
}


.before-circle{
  content: '';
  position: absolute; 
  border-radius: 50%;
  width: 800px;
  height: 800px; 
  z-index: -1; 
  overflow: hidden;
  background-color: #f59e0b; 
  top: -10%; 
  left: -13%;
}

.after-circle {
  content: '';
  position: absolute; 
  border-radius: 50%;
  width: 700px;
  height: 700px; 
  z-index: -1; 
  overflow: hidden;
  background-color: #7e22ce;
  top: 10%; 
  right: -8%; 
}

